In [31]:
import pandas as pd
import numpy as np

In [22]:
l = [i for i in range(3) for _ in range(5)]

In [23]:
df = pd.DataFrame({"l": l}, index=range(len(l)))

In [24]:
df["l"].unique()

array([0, 1, 2])

In [25]:
df

    l
0   0
1   0
2   0
3   0
4   0
5   1
6   1
7   1
8   1
9   1
10  2
11  2
12  2
13  2
14  2

In [26]:
df.query("l%2 == 0")

    l
0   0
1   0
2   0
3   0
4   0
10  2
11  2
12  2
13  2
14  2

In [27]:
from sklearn.model_selection import KFold

In [28]:
kf = KFold(n_splits=3)
cv = []
for l_train, l_test in kf.split(df["l"].unique()):
    train_idx = df.query("l in @l_train").index
    test_idx = df.query("l in @l_test").index
    cv.append((train_idx, test_idx))

In [29]:
cv

[(Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64'),
  Int64Index([0, 1, 2, 3, 4], dtype='int64')),
 (Int64Index([0, 1, 2, 3, 4, 10, 11, 12, 13, 14], dtype='int64'),
  Int64Index([5, 6, 7, 8, 9], dtype='int64')),
 (Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64'),
  Int64Index([10, 11, 12, 13, 14], dtype='int64'))]

In [32]:
np.mean([1,2,3])

2.0

In [36]:
np.std([1,2,3])

0.816496580927726

In [38]:
import math
math.ceil(7/4)

2